@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Take a look to our posts !</h1>
<div class="my-4">
    @if (posts == null || posts.Count == 0)
    {
        <p>No posts for now...</p>
    }
    else
    {
        @foreach (var post in posts)
        {
            <div class="border-top border-bottom py-2">

                <h5 class="m-0">@post.Title</h5>
                <p class="m-0">@post.Content</p>
            </div>
        }
    }
</div>

@code {
    private List<BlogBlazor.Models.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await HttpClient.GetFromJsonAsync<List<BlogBlazor.Models.Post>>(NavigationManager.BaseUri + "posts");
    }
}